<html>
<head>
    {% block stylesheets %}
        <link href="../css/base.css" rel="stylesheet"/>
        <link href="../css/dart170forms.css" rel="stylesheet"/>
    {% endblock %}
</head>
<body onload="setCursorToLast(document.getElementById('game170_form_numRounds'))">
<div class="baseStyle user_info">
    Hello {{ name }}! <br> You're successfully logged in! <br> <br>
</div>
<div class="form">
    {{ form_start(form,{'attr':{'id':'form_170'}}) }}
    <div class="baseStyle numRounds">
        {{ form_row(form.numRounds, {'attr':{'autofocus':'true'}}) }}
    </div>
    <br>
    <div class="baseStyle submit">
        {{ form_row(form.save) }}
    </div>
    {{ form_end(form) }}
</div>
<br>
<div class="baseStyle lastShots">
    Letzten Würfe: <br>
</div>
<div class="baseStyle shotList">
    {{ shotList }}
</div>
<br>
<div class="baseStyle average_week_label">
    Durchschnitt der letzten 7 Tage bei {{ games_week }} gespielten Runden: <br>
</div>
<div class="baseStyle average_week">
    {{ average_week }}
</div>
<br>
<div class="baseStyle average_label">
    Momentaner Durchschnitt für 170 (All-Time) bei {{ games_total }} gespielten Runden: <br>
</div>
<div class="baseStyle average">
    {{ average }}
</div>

</body>
</html>