<html>

<!-- TODO: Css for form -->
<head>
    {% block stylesheets %}
        <link href="../css/base.css" rel="stylesheet"/>
    {% endblock %}
</head>
<body>

<div class="baseStyle user_info">
    Hello {{ name }}! <br> You're successfully logged in! <br> <br>
</div>

<div class="form">
    {{ form_start(form) }}
    {{ form_row(form.numDarts) }}
    <br>
    {{ form_row(form.bullIncluded) }}
    <br>
    {{ form_row(form.submit) }}
    {{ form_end(form) }}
</div>
</body>
</html>