<html>
<head>
    {% block stylesheets %}
        <link href="../../css/base.css" rel="stylesheet"/>
        <link href="../../css/newplayerform.css" rel="stylesheet"/>
    {% endblock %}
</head>
{% if not loggedIn %}
    <div class="baseStyle accountInfo">Use your credentials to login if you have a account. <br>
        Otherwise a account will be created for you. <br> <br></div>
    <div class="form">
        {{ form_start(form) }}
        <span class="baseStyle namePassword">
        {{ form_row(form.name) }}
            {{ form_row(form.password) }} <br>
   </span>
        <div class="baseStyle submit">
            {{ form_row(form.submit) }}</div>
        {{ form_end(form) }}
    </div>
{% endif %}
<div class="baseStyle toGame">
    <a href="{{ path('dart170_form') }}"> Zum Spiel: <b>170</b> </a>
    <br>
    <a href="{{ path('split_it') }}"> Zum Spiel: <b>Split It</b></a>
    <br>
    <a href="{{ path('around_the_clock') }}"> Zum Spiel:<b> Around the clock</b> </a>

</div>
<br>
{% for message in app.flashes('success') %}
    <div class="baseStyle flashes_success">
        {{ message }}
    </div>
{% endfor %}
{% for message in app.flashes('error') %}
    <div class="baseStyle flashes_error">
        {{ message }}
    </div>
{% endfor %}</html>


