<html>
<head>
    {% block stylesheets %}
        <link href="../../css/base.css" rel="stylesheet"/>
        <link href="../../css/newplayerform.css" rel="stylesheet"/>
    {% endblock %}
    {% block javascripts %}
        <script src="../js/Utility.js"></script>
    {% endblock %}
</head>
{% if not loggedIn %}
    <div class="baseStyle accountInfo">Bitte einloggen. Falls kein Account besteht, wird ein Neuer erstellt. <br> <br>
    </div>
    <div class="form">
        {{ form_start(form) }}
        <span class="baseStyle namePassword">
        {{ form_row(form.name) }}
            {{ form_row(form.password) }} <br>
   </span>
        <div class="baseStyle submit">
            {{ form_row(form.submit) }}</div>
        {{ form_end(form) }}
    </div>
{% endif %}


<div class="baseStyle toGame flexbox">
    <div class="label">
        Modi:
    </div>
    <div class="game">
        <a href="{{ path('dart170_form') }}"> <b>170</b> </a>
    </div>
    <div class="game">
        <a href="{{ path('split_it') }}"> <b>Split It</b></a>
    </div>
    <div class="game">
        <a href="{{ path('stats_generation') }}"> Statistiken </a>
    </div>

    <div class="game">
        <a href="javascript:logout()"> Logout</a>
    </div>

</div>
<br>
{% for message in app.flashes('success') %}
    <div class="baseStyle flashes_success">
        {{ message }}
    </div>
{% endfor %}
{% for message in app.flashes('error') %}
    <div class="baseStyle flashes_error">
        {{ message }}
    </div>
{% endfor %}</html>


